---
import Section from "./Section.astro";
import partners from "@data/partners";
import { Image } from "astro:assets";

const id = "partners";
const title = "previous partners";
---

<Section id={id} title={title}>
    <div
        class="mt-6 grid grid-cols-1 gap-4 border border-catpuccin-mauve p-4 lg:grid-cols-5"
    >
        {
            partners.map((partner) => {
                return (
                    <a
                        class="group flex items-center gap-4 border border-catpuccin-mauve p-2 transition-all duration-100 hover:bg-catpuccin-mauve hover:text-catpuccin-base focus:bg-catpuccin-mauve focus:text-catpuccin-base"
                        href={partner.url}
                    >
                        <div class="flex aspect-square h-24 items-center justify-center border border-catpuccin-mauve p-2 group-hover:bg-catpuccin-base group-focus:bg-catpuccin-base">
                            <Image
                                class="max-h-16 w-auto"
                                title={partner.name}
                                src={partner.imagePath}
                                alt={partner.name}
                                width={200}
                                height={200}
                            />
                        </div>
                        <p class="text-sm">{partner.name}</p>
                    </a>
                );
            })
        }
    </div>
</Section>
