---
import CommandLine from "../components/CommandLine.astro";
import ProjectCard from "../components/ProjectCard.astro";
import GeneralLayout from "../layouts/GeneralLayout.astro";

// Generate all links for projects using import meta glob
const projects = Object.values(
    import.meta.glob("./projects/*.md", { eager: true }),
);
---

<GeneralLayout path={"projects"}>
    <!-- Command line -->
    <section class="mb-4">
        <CommandLine
            keyword="echo"
            text="'list of all my duties through years'"
        />
        <CommandLine keyword="ls -al" text="project.log" />
    </section>

    <section class="grid grid-cols-1 items-center gap-4 lg:grid-cols-3">
        {
            projects.map((project: any) => {
                const { title, teamSize, description, year, image } =
                    project.frontmatter;

                return (
                    <ProjectCard
                        title={title}
                        subtitle={description}
                        year={year}
                        teamSize={teamSize}
                        url={project.url}
                        imageUrl={image}
                    />
                );
            })
        }
    </section>
</GeneralLayout>
