---
import CommandLine from "../components/CommandLine.astro";
import ProjectCard from "../components/ProjectCard.astro";
import GeneralLayout from "../layouts/GeneralLayout.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<GeneralLayout path={"projects"} title="Projects">
    <!-- Command line -->
    <section class="mb-4">
        <CommandLine
            keyword="echo"
            text="'list of all my duties through years'"
        />
        <CommandLine keyword="ls -al" text="project.log" />
    </section>

    <section class="grid grid-cols-1 items-center gap-4 lg:grid-cols-3">
        {
            projects.map((project: any) => {
                const { title, teamSize, description, year, image } =
                    project.data;

                return (
                    <ProjectCard
                        title={title}
                        subtitle={description}
                        year={year}
                        teamSize={teamSize}
                        url={"/projects/" + project.id}
                        image={image}
                    />
                );
            })
        }
    </section>
</GeneralLayout>
